html,body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

body{
    background-image: url('/Resources/Images/miez53f00dj4792.webp');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

#accTable
{
    position: relative;
    top:50%;
    display: none;
}

#accTable table
{
    background-image: linear-gradient(-90deg, #29bdd9 0%, #276ace 100%);
    margin: 0 auto;
    border-radius: 10px;
}

#noLoginTable
{
    width:70px;
    background-image: linear-gradient(-90deg, #29bdd9 0%, #276ace 100%);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top:50%;

    background-image: linear-gradient(-90deg, #29bdd9 0%, #276ace 100%);
}

#noLoginTable li
{
    list-style-type: none;
    margin-top: 10px;
}

#noLoginTable li a span
{
    color: black;
}

#noLoginTable li button
{
    width:100px;
    margin-left: 15px;
}
