*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(40,43,60);
    color:white;
}

table
{
    border-collapse:collapse;
    border: 1px solid #000000;
}  

td
{  
    border-collapse:collapse;  
    border: 1px solid #000000;  
}

a{
    color:white;
}

#search-div
{
    margin: 0 auto;
    width:550px;
    margin-top:80px;
}

#manager
{
    width:400px;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:50px;
}

#manager a
{
    margin:0;
    margin-left:30px;
}

#search
{
    width:400px;
    height:30px;
}

#search-div button
{
    width:130px;
    height:30px;
    border-radius: 10px;
}

#disclaimer
{
    width:800px;
    margin: 0 auto;
}

#disclaimer ul li
{
    list-style: none;
}

#blacklist,#checkblacklist,#cancelblacklist
{
    width:1280px;
    margin: 0 auto;
    margin-top:30px;
}

#paginator
{
    width:400px;
    margin: 0 auto;
    margin-top:20px;
}

#editTable
{
    margin:0 auto;
    margin-top: 50px;
    width:700px;
}

#editTable li
{
    list-style-type: none;
    margin-bottom: 10px;
}

#editTable li input
{
    width:300px;
}

#editTable li button
{
    width:150px;
    height:30px;
    margin-left:-20px;
    margin-right: 40px;
}

#editTable li span
{
    display: inline-block;
    width:110px;
}

.button1 {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.button1:hover {
  background: #2980b9;
  background-image: linear-gradient(to bottom, #2980b9, #3498db);
  color: #ffffff;
  text-decoration: none;
}

.h3Title
{
    width:200px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom: -20px;
    text-align: center;
}