*
{
	margin:0;
	padding:0;
}

body
{
	margin:1.5em;
	background-color: rgb(40,43,60);
}

.leftGride
{
    width:70%;
    background-color:#CCFFFF;
    float:left;
    position:absolute;
	display:none;
	padding:0.5em;
}

.leftGride ul
{
    height:100%;
    margin:0 auto;
}

.menu-icon
{
	width: 30px;
	height: 5px;
	border-top: 5px solid #DD575C;
	border-bottom: 5px solid #DD575C;
	background-color: #DD575C;
	padding: 5px 0;
	background-clip:content-box;
	float:right;
	position:fixed;
	right:0.5em;
	top:0.5em;
}

.top-icon
{
	float: right;
	width: 0px;
	height: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #0099CC;
	position:fixed;
	right:0.5em;
	bottom: 0.5em;
}

.template-body
{
	display:none;
}