html,body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

body{
    background-image: url('/Resources/Images/miez53f00dj4792.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

#table
{
    width:100px;
    background-image: linear-gradient(-90deg, #29bdd9 0%, #276ace 100%);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    top:50%;
}

#table li
{
    list-style-type: none;
    margin-top: 10px;
}

#table li a span
{
    color: black;
}