#articleGride
{
    width:150px;
    float:left;
    border-right:solid 1px black;
}

#articleGride h3
{
    margin-left: 15px;
}

#articleGride ul li
{
    list-style-type: none;
}

#articleGride ul li a
{
    color:white;
}

#ArticleList
{
    margin-right: 5px;
    width:1000px;
    float:right;
}

#discussArea
{
    float:right;
    width:995px;
    display:none;
}

#editor p
{
    text-indent:0px;
}

.discuss
{
    margin-top:20px;
    border: solid 1px black;
    padding-left:10px;
}

.discussContent
{
    margin-top: 10px;
    margin-left: 20px;
    padding:10px;
}

.discussTime
{
    margin:10px 0px;
}

#submitDiscuss
{
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 30px;
    width:150px;
}

.button1 {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
  }
  
  .button1:hover {
    background: #2980b9;
    background-image: linear-gradient(to bottom, #2980b9, #3498db);
    color: #ffffff;
    text-decoration: none;
  }